{% extends 'blog/base.html' %}
{% block content %}
<div class="post">
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.published_date %}
    <div class="date">
        <a href="{% url 'view_profile' pk=post.author.pk%}">{{ post.author }}</a>
    </div>
    <div class="date">
        {{ post.published_date }}
    </div>


    {% else %}
    <a class="btn btn-default editbuttons" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    {% if post.author == request.user %}
        <a class="btn btn-default editbuttons" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default editbuttons" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
</div>

{% if user.is_authenticated %}
<a class="btn btn-info" href="{% url 'dream_vote' pk=post.pk %}"><img class = 'vote'src='https://www.shareicon.net/data/128x128/2015/12/11/686068_cloud_512x512.png'></img></a>
<a class="btn btn-danger" href="{% url 'nightmare_vote' pk=post.pk %}"><img class = 'vote' src='https://www.shareicon.net/data/32x32/2016/11/15/853868_medical_512x512.png'></img></span></a>
{% endif %}
<p>{{ post.vote_count_dream }} / {{ post.vote_count_nightmare }}</p>
<hr>
<div class = "commentsection">
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <hr class="section-heading-spacer">
        <p>{{ comment.text|linebreaks }}</p>
          <strong>{{ comment.author }}</strong>
          {{ comment.created_date }}
        <hr class="section-heading-spacer">
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
</div>

{% endblock %}
